body
{
	background: url("background_nit.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
}

h1
{
	float: center;
	margin-left: 250px;
	text-align: center;
	width: 60%;
	height: 50px;
	background-color: yellow;
	color: green;
	opacity: 0.5;

}

img
{
	margin-left: 250px;
	margin-right: auto;
	opacity: 0.8;
}

ul
{
	position: relative;
	margin: 0px;
	padding: 0px;
	list-style: none;
	color: white;
	z-index: 100;
}

ul li
{
	float: left;
	width: 290px;
	height: 40px;
	opacity: 0.7;
	line-height: 40px;
	font-size: 20px; 
	background-color: black;
	margin-right: 2px;
	text-align: center;
	cursor: cell;

}

ul li a
{
	text-decoration: none;
	color: white;
	display: block;
}

ul li a:hover
{
	background-color: green;
}

ul li ul li
{
	display: none;
}

ul li:hover ul li
{
	display: block;
}